@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

.dancing_text {
  font-family: "Dancing Script", cursive;
}

@keyframes rotate-day {
  0% {
    background-position: 120% 0;
  }
  100% {
    background-position: -80% 0;
  }
}

@keyframes rotate-night {
  0% {
    background-position: calc(120% + 120px) 0;
  }
  100% {
    background-position: calc(-80% + 120px) 0;
  }
}

@keyframes spin-clouds {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.animate-rotate-day {
  animation: rotate-day 80s linear infinite;
}

.animate-rotate-night {
  animation: rotate-night 80s linear infinite;
}

.animate-spin-clouds {
  animation: spin-clouds 100s ease infinite;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #d1e5ff;
}
::-webkit-scrollbar-thumb {
  background: hsl(222.2 84% 4.9%);
  border-radius: 1px;
}
.text-tubeLight-effect {
  display: flex;
  color: #fff;
  position: relative;
  text-transform: uppercase;
  width: 100%;
  outline: none;
  overflow-y: hidden;
  /* -webkit-box-reflect: below -27px linear-gradient(transparent, #ffffff40); */
  animation: animate 5s linear infinite;
}
@keyframes animate {
  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    color: gray;
    text-shadow: none;
  }
  18.1%,
  20.1%,
  30%,
  50%,
  60.1%,
  65%,
  80.1%,
  90.1%,
  92.1%,
  100% {
    color: #fff;
    text-shadow: 0 0 1px rgb(150, 150, 150), 0 0 2px rgb(150, 150, 150),
      0 0 2px rgb(150, 150, 150), 0 0 5px rgb(150, 150, 150),
      0 0 20px rgb(150, 150, 150);
  }
}

/* App container */
.app {
  text-align: center;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

/* Fullscreen loader */
.loading-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
  transition: transform 0.8s ease-in-out, opacity 0.5s ease-in-out;
}

/* Vanish animation */
.vanish {
  transform: scale(2);
  opacity: 0;
}

/* Loader container */
.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Spinner animation */
.spinner {
  width: 60px;
  height: 60px;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-top: 5px solid white;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Loading percentage text */
.loading-text {
  font-size: 24px;
  color: white;
  margin-top: 10px;
  font-weight: bold;
}

/* Main content */
.content {
  padding: 20px;
}
